<div class="section__container footer__container">
    <div class="footer__col">
        <div class="logo footer__logo">
            <a href="#">
                <h3>JPCS</h3>
            </a>
        </div>
        <p class="section__description">
            "Tech up, step up!"
        </p>
    </div>
    <div class="footer__col">
        <h4>Quick Links</h4>
        <ul class="footer__links">
            <li><a href="https://www.ceu.edu.ph/" target="_blank">Centro Escolar University</a></li>
            <li><a href="https://drive.google.com/file/d/1PgYLTAFyr7Iydg7U_o1Fg5CdRds--z9r/preview"
                    target="_blank">School Calendar</a></li>
            <li><a href="https://ceu.instructure.com/" target="_blank">CEU Canvas</a></li>
            <li><a href="https://caresmls.ceu.edu.ph/SERP/Gate/Login.aspx" target="_blank">CARES Malolos</a>
            </li>
            <li><a href="https://portal.ceu.edu.ph/app.php/login" target="_blank">CEU Portal</a></li>
        </ul>
    </div>
    <div class="footer__col">
        <h4>Category</h4>
        <ul class="footer__links">
            <li><a href="about.php">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <!-- <li><a href="#">News & Events</a></li> -->
            <li><a href="membership.php">Membership</a></li>
        </ul>
    </div>
    <div class="footer__col">
        <h4>Resources</h4>
        <ul class="footer__links">
            <li><a href="https://bsitport2026.com/jpcs2425/jpcshares">JPCShares</a></li>
            <li><a href="faqs.php">FAQs</a></li>
            <li><a href="terms.html">Terms of Service</a></li>
            <li><a href="privacy&policy.html">Privacy Policy</a></li>
        </ul>
    </div>
</div>
<div class="footer__bar">
    Copyright © 2024 JPCS and Lyzza Abig. All rights reserved.
</div>

<!-- Scroll Reveal -->
<script src="../assets/js/scrollreveal.min.js"></script>